header {
    grid-column-start: 1;
    grid-column-end: 4;   
    font-size: 30px; 
    font-style: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: monospace;
}
nav { 
    background-color: #d3d3d3;
    grid-column-start: 1;
    grid-column-end: 4;   
}

main { 
    grid-column-start: 1;
    grid-column-end: 3;    
}

aside {
    background-color: #e9e8e9;
    width: 200px;
    padding: 20px;
}

div > fieldset{
    padding: 0;
}

li:hover {
    background-color: #a0a0a0;
    padding: auto;
}

#headtable{
    background-color: #808080;
}

footer { 
    background-color: #d3d3d3;
    grid-column-start: 1;
    grid-column-end: 4; 
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

ul > li {
    float: left;
    list-style : none;
}

a {
    text-decoration: none;
    color: #735a8e;
}

li > a {
    padding: 5px;
}

form > select {
    margin: 5px;
}

nav > ul {
    display: flex;
    justify-content: end; 
}

table, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
} 

.pagination{
    display: flex;
    flex-direction: row-reverse;
}

.pagination > ul > li{
    padding: 20px;
}


div#username{
    padding-left: 10px;   
    padding-top: 10px;   
}


.full-text { display: none; }

@media (width < 800px) {
    .full-text {display: inline-block;}
    .short-text {display: none;}
}
